<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <link href="style.css" rel="stylesheet">
    <title>URL Shortener</title>
</head>

<body>
    <h1>Url Shortened</h1>

    <p> Make sure you write down your shortened url.</p>
    <p> <a href="{{.ShortURL}}">{{.ShortURL}}</a> </p>
    <p> <a href="{{.StatsURL}}">{{.StatsURL}}</a> </p>
    <p> <a href="{{.LongURL}}">{{.LongURL}}</a> </p>

</body>

</html>